/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial;
    background: #f4f4f4;
}

/* HEADER */
header {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* NAV */
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #ddd;
}

/* BUTTON */
button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: darkblue;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}